<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../basic/head.ejs") %>
    </head>

    <body>
        <div class="my-top-bar"></div>
        <header>
            <div class="container-fluid d-flex flex-column px-0">
                <div class="d-flex align-items-center justify-content-center my-scroll flex-column">
                    <h1>404</h1>
                    <p>
                        Salom xatolik uchun uzr! Ha agar
                        <b>hacking</b>
                        qilmoqchi bo'lsangiz e'tibor uchun rahmat!
                    </p>
                </div>
            </div>
        </header>
    </body>
</html>
