<aside id="sidebar" class="sidebar-toggle">
    <div class="sidebar-logo">
        <a href="#">
            <span class="fs-5">
                <b style="color: #25a1f4">Smart</b>
                <b style="color: #f87474">Job</b>
            </span>
        </a>
    </div>
    <!-- Sidebar Navigation -->
    <ul class="sidebar-nav p-0">
        <li class="sidebar-header">Main Pages</li>
        <li class="sidebar-item">
            <a href="/assistant" class="sidebar-link <%- page=='home'?'active':'' %>">
                <i class="fas fa-home"></i>
                <span>Home</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/assistant/branches" class="sidebar-link <%- page=='branches'?'active':'' %>">
                <i class="fas fa-sitemap"></i>
                <span>Branches</span>
            </a>
        </li>
        <li class="sidebar-header">Logs</li>
        <li class="sidebar-item">
            <a href="/assistant/log_branches" class="sidebar-link <%- page=='log_branches'?'active':'' %>">
                <i class="fas fa-book"></i>
                <span>Branch Logs</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/assistant/log_employees" class="sidebar-link <%- page=='log_employees'?'active':'' %>">
                <i class="fas fa-users"></i>
                <span>Employee Logs</span>
            </a>
        </li>
    </ul>
    <!-- Sidebar Navigation Ends -->
    <div class="sidebar-footer">
        <a href="/logout" class="sidebar-link">
            <i class="fas fa-sign-out-alt"></i>
            <span>Logout</span>
        </a>
    </div>
</aside>
