<div class="mb-3">
    <h4>Staff Training</h4>

    <div class="row row-cols-1 row-cols-md-4 gy-4">
        <!-- Video 1 -->
        <div class="col-md-4">
            <div class="card h-100">
                <iframe class="card-img-top" src="https://www.youtube.com/embed/rI9oMAVa-Es" title="Training Video 1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title">The Seven Steps for Highly Effective Employee Training & Coaching</h6>
                </div>
            </div>
        </div>

        <!-- Video 2 -->
        <div class="col-md-4">
            <div class="card h-100">
                <iframe class="card-img-top" src="https://www.youtube.com/embed/3iLHEZo_MYY" title="Training Video 2" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title">URBAN.TECH UZBEKISTAN (2023)</h6>
                </div>
            </div>
        </div>

        <!-- Video 3 -->
        <div class="col-md-4">
            <div class="card h-100">
                <iframe class="card-img-top" src="https://www.youtube.com/embed/-LZgVqc-JHc" title="Training Video 3" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title">Xodimlarni boshqarishda motivatsiya | Top manager ko`rsatuvi | Akmal Paiziev</h6>
                </div>
            </div>
        </div>

        <!-- Video 4 -->
        <div class="col-md-4">
            <div class="card h-100">
                <iframe class="card-img-top" src="https://www.youtube.com/embed/_vUNc8buyi4" title="Training Video 3" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title">Etiquette for Conference Calls | Training Video</h6>
                </div>
            </div>
        </div>

        <!-- Video 5 -->
        <div class="col-md-4">
            <div class="card h-100">
                <iframe class="card-img-top" src="https://www.youtube.com/embed/5jcx488her8" title="Training Video 3" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title">Mental Health in the Workplace | Managing Remote Teams Introduction</h6>
                </div>
            </div>
        </div>

        <!-- Video 6 -->
        <div class="col-md-4">
            <div class="card h-100">
                <iframe class="card-img-top" src="https://www.youtube.com/embed/zMmtWjGjRO4" title="Training Video 3" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title">Creative Ways to Stay Connected | Remote Team</h6>
                </div>
            </div>
        </div>
    </div>
</div>
