<div class="mb-3">
    <h4>Kalendar paneli</h4>
    <div id="calendar"></div>

    <!-- Modal -->
    <div class="modal fade" id="modals" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modals" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modals">Tarmoq uchun jurnal ma'lumotlari</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="models-body">Loading...</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yopish</button>
                    <!-- <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Tushunarli</button> -->
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const calendarElement = document.getElementById("calendar");

        const calendar = new FullCalendar.Calendar(calendarElement, {
            events: [
                {
                    title: "Bugun?",
                    start: new Date(),
                    url: "https://www.google.com/search?q=bugun+qanday+kun",
                },
            ],
            headerToolbar: {
                start: "title",
                center: "",
                end: "prevYear,prev,next,nextYear",
            },
            footerToolbar: {
                start: "",
                center: "",
                end: "",
            },
            dateClick: function (info) {
                let models = new bootstrap.Modal(document.getElementById("modals"), { focus: true });
                models.show();

                document.getElementById("models-body").innerHTML = "Loading...";

                fetch(`/admin/<%= branch_id %>/calendar/day?date=${info.date}`, { method: "get" })
                    .then((response) => response.json())
                    .then((data) => {
                        document.getElementById("models-body").innerHTML = `
                           <p><b>Sana:</b> ${data?.created_dt}</p>
                           <p><b>Ish yozuvlari:</b> ${data?.works_notes}</p>
                           <p><b>Materiallar yozuvlari:</b> ${data?.materials_notes}</p>
                           <p><b>Sharhlar:</b> ${data?.comments}</p>
                        `;
                    })
                    .catch((err) => {
                        document.getElementById("models-body").innerHTML = "Mavjud emas!";
                    });
            },
        });

        calendar.render();
    });
</script>
